Laby2/Zadanie7/dane_osobowe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="dane_osobowe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="osoba">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="imie">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="2"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="nazwisko">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="2"/>
                    <xs:maxLength value="70"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="plec">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="K"/>
                    <xs:enumeration value="M"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="wiek">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="120"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
